<body class="cs-background">

  <div class="jumbotron">
    <h1>Jam Session</h1>
    <p></p>
    <a href="/bands" class="btn btn-primary btn-lg">See All Bands</a>
    <a href="/venues" class="btn btn-primary btn-lg">See All Venues</a>

  </div>
</body>
