<!DOCTYPE html>
<html>
<head>
  <title>Jam Session</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
  <link rel='stylesheet' href='/jam_session.css'>
  <link href='https://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
</head>
<div class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">Jam Session</a>
      <a href="/bands" class="navbar-brand">All Bands</a>
      <a href="/venues" class="navbar-brand">All Venues</a>
    </div>
  </div>
</div>

<div class="container">
  <%= yield %>
</div>

</html>
